//check A character is an alphabet or not
import java.util.Scanner;
class Main {
  public static void main(String[] args) {
    Scanner sc= new Scanner(System.in);
   String s=sc.next();
   String s1="Not an alphabet";
  for(char Java='a';Java<='z';Java++){
  if(s.charAt(0)==Java){
    s1=" an alphabet";
    break;
  } }  
  System.out.println(s1);  
  }
}
